PATH=/usr/sbin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/bin

# Ensure the oom_score_adj value for {{ instance_id }} is set to -1000
#  every four hours to prevent OOM killer from killing the instance
* */4 * * * root bash /root/oom_score_adjuster.sh {{ instance_id }} > /tmp/itran
